:root{
    --text-color: #0B132A;
    --second-text-color: #4F5665;
    --botton-color: #F53838;
    --botton-text-color: #FFFFFF;

}
body{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

nav{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    height: 100px;
    padding: 0px 70px 0px 70px;
}

nav > div:nth-child(1){
    display: flex;
    align-items: center;
} 

nav > div:nth-child(2){
    display: flex;
    align-items: center;
}

nav > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: end;
}

nav h4{
    margin: 0;
    color: var(--text-color);

}

nav a{
    text-decoration: none;
    color: var(--second-text-color);
    margin-right: 15px;
}
nav p{
    color: var(--text-color);
    font-weight: 600;
    padding: 15px 15px !important;
    display: flex;
    align-items: stretch;
}

.texto{
    padding: 50px 50px;
    height: 200px;
    font-size: 1rem;
}

.texto2{
    padding: 50px 50px;
    height: 200px;
}
#parrafo{
    color: var(--second-text-color);
}

#parrafo2{
    color: var(--second-text-color);
}

#listauno{
    color: var(--second-text-color);
}

#Users{
    color: var(--second-text-color);
}

#Locations{
    color: var(--second-text-color);
}

#Servers{
    color: var(--second-text-color);
}

#letrasplomo{
    color: var(--second-text-color);
}
nav button{
    border: 1px solid var(--botton-color);
    border-radius: 25px;
    width: 120px !important;
    padding: 7px 7px !important;
}
.boton{
    border:  none;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    padding: 15px 15px !important;
    background-color: var(--botton-color);
    color: var(--botton-text-color);

}

.btntransparente{
    background-color: transparent;
    color: var(--botton-color);
    font-weight: 600;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    line-height: 40px;

}

.cuadros{
    display: flex;
    justify-content: space-around;
}
.Users{
    display: flex;

}
.Locations{
    display: flex;
}
.Servers{
    display: flex;
}
.contenedor2{
    display: flex;
    justify-content: space-around;
}

#titulo3{
    justify-content: center;
}
.contenedor3{
    display: flex;
    justify-content: space-around;

}

.contenedor3 > div > ul >li{
    list-style: none;
    color: var(--second-text-color);
}

.contenedor2 > div > div > ul >li{
    list-style: none;

}

.contenedor4{
    display: flex;
    justify-content: space-around;
}

#letrita{
    display: flex;
    color: var(--text-color);
}

.contenedor4 p{
    color: var(--second-text-color);
}

.titulo3{
    text-align: center;
}

.contenedor4 a {
    text-decoration: none;
    color: var(--second-text-color);

}
.contenedor4 ul{
    list-style: none;
}

.contenedor3 button{
    border: 1px solid var(--botton-color);
    border-radius: 25px;
    width: 120px !important;
    padding: 7px 7px !important;
}
.btnuno{
    color: var(--botton-color);
    font-weight: 600;
}
.btndos{
    color: var(--botton-color);
    font-weight: 600;
}
.btntres{
    border: none;
    background-color: var(--botton-color);
    color: var(--botton-text-color);
}